
DirectoryIndex index.php

<IfModule mod_rewrite.c>

############################################
## enable rewrites

    Options +FollowSymLinks
    RewriteEngine on


	#RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !/web/
	RewriteRule (.*) index.php [QSA,L]

	
</IfModule>