/**
 * Side drawer CSS
 */
#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    transition: transform 0.2s;
}

#sidedrawer-brand {
    padding-left: 20px;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0px;
}

#sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

#sidedrawer strong + ul > li {
    padding: 6px 0px;
}

/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
    transform: translate(200px);
}
/**
 * Header CSS
 */
.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}
.menu-sidebar {background-color: #373330;}
.menu-sidebar .nav-menu .nav-menu-items a {color: #f7f3eb;}
.menu-sidebar .nav-menu .nav-menu-items.active,
.menu-sidebar .nav-menu .nav-menu-items.active:hover {background-color: #524d49;}
